<h2><p align="center">YOU ARE LOGGED IN SUCCESSFULLY</p></h2>
<h3>Name :  <%= name %></h3>
<h3>Email :  <%= email %></h3>
<h3>Date of birth :  <%= DOB %></h3>
<h3>Phone no. :  <%= phoneNumber %></h3>
<h3>Gender :  <%= gender %></h3>
<h3>Religion :  <%= religion %></h3>
<h3>Caste :  <%= caste %></h3>
<h3>Country :  <%= country %></h3>
<h3>State :  <%= state %></h3>
<h3>District :  <%= district %></h3>
<h3>Address :  <%= address %></h3>

